bin/
obj/
artifacts/
dist/
dist-folder/
*.user
AF-Media-Bar-Reference-Guide.md
DEVELOPMENT_LOG.md
/docs/RELEASE_CHECKLIST.md
/todo.md

# 编译 / 本地产物
*.exe
*.pdb
*.deps.json
*.runtimeconfig.json
*.dll
!icon.ico

# IDE / OS
.vs/
.vscode/
Thumbs.db
Desktop.ini
